.projects {
  background-color: hsl(219, 48%, 8%);
  min-height: 100vh;
  padding-top: 15vmax;
}
.projects > h3 {
  text-align: center;
  color: white;
  background-color: hsl(250, 100%, 75%);
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2vmax 4vmax;
  display: flex;
  border-radius: 100px;
  left: 50%;
  transform: translate(-50%, -100vh);
  animation: projectHeading 1s ease-in-out forwards;
}
.projects > h3 > svg {
  margin: 1vmax;
}
.projectsWrapper {
  border-top: 100px solid white;
  min-height: inherit;
  border-radius: 300px 300px 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5vmax;
  padding-bottom: 10vmax;
  overflow-x: hidden;
}
.projectCard {
  width: 80%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.712);
  margin: 2vmax;
  border-radius: 10px;
  display: flex;
  transform: translateX(-100vw);
  animation: projectCardAnimation 1s ease-in-out forwards 0.5s;
}

.projectCard:nth-child(even) {
  transform: translateX(100vw);
  flex-direction: row-reverse;
  animation: projectCardAnimation 1s ease-in-out forwards 1s;
}
.projectCard > div {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  justify-content: space-around;
}
.projectCard > div:first-child::after {
  content: "VIEW DEMO";
  width: 100%;
  max-height: 50px;
  align-items: center;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  color: white;
  background-color: hsl(250, 100%, 75%);
  font: 100 2rem "Roboto";
}
.projectCard > div:first-child > h5 {
  text-align: center;
  padding: 2vmax;
}
.projectCard > div:last-child {
  padding: 3vmax;
}
.projectCard:hover div:first-child{
    filter: blur(3px) hue-rotate(240deg);
}
.projectCard > div:last-child > h4 {
  text-align: center;
}
.projectCard > div:last-child > p {
  letter-spacing: 5px;
  word-spacing: 5px;
  text-align: right;
}
.projectCard > div:last-child > h6 {
  font-family: "Ubuntu Mono";
  font-weight: bold;
  color: black;
}
.projectCard img {
  height: 300px;
  width: 600px;
}
@keyframes projectCardAnimation {
  to {
    transform: translateX(0);
  }
}
@keyframes projectHeading {
  to {
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width:600px){
    .projectCard{
        flex-direction: column;
        margin-bottom: 10vmax;
    }
    .projectCard > div{
        justify-content: center;
    }
    .projectCard > div > img{
      width: 90vw;
      height: 60vw;
    }
    .projectCard > div:last-child > p{
        text-align: center ;
    }
    .projectCard:nth-child(even){
        flex-direction: column;
    }
    .projectsWrapper{
        border-radius: 60px 60px 0 0;
    }
    .projects > h3{
        font-size: 30px;
        padding-left: 8vmax;
        padding-right: 8vmax;
    }
    .projectCard > div:last-child > p {
        margin-top: 6vmax;
        margin-bottom: 6vmax;
    }
    .projectCard > div:last-child > h4{
        font-size: 32px;
        font-weight: 700;
    }
}
