.homeCanvas{
    max-width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}
.writer{
    z-index: 1;
    transform: translateY(-400px);
    position: absolute;
    left: -200vh;
    font-size: 50px;
    font-family: "Ubuntu Mono";
    text-shadow: 2px 1px 8px gray;
    text-align: center;
    color: white;
    animation: writerAnimation ease-in-out 2s forwards;
}
.homeContainer{
    background-color: white;
    padding-top: 4vmax;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 200px solid white;
    position: relative;
    z-index: 1;
}
.homeContainer > h3{
    text-align: center;
    color: rgba(22,20,0,0.904);
    padding: 4vmax;
}
.homeSkills{
    transform: translateY(-200px);
    background-color: hsl(219,48%,8%);
    height: 1000px;
    position: relative;
    box-sizing: border-box;
    perspective: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-bottom: -200px;
} .homeSkills div{
    display: flex;
}
.homeSkills > h3{
    text-align: center;
    color: white;
    transform: translateY(200px);
    margin-bottom: 20vmax;
    font-size: 4vmax;
}
.homeCubeSkills{
    width: 200px;
    height: 200px;
    animation: cubeRotation 15s linear infinite alternate;
    position: relative;
    top: -100px;
    transform-style:preserve-3d ;
}
.homeCubeSkillsFaces{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.9;
}
.homeCubeSkillsFaces > img {
    height: inherit;
    width: inherit;
}
.homeCubeSkillsFace1 {
    transform: translate3d(0, 0, 100px);
}
.homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0, 0, 100px);
}
.homeCubeSkillsFace3 {
    transform: rotateX(90deg) translate3d(0, 0, 100px);
}
.homeCubeSkillsFace4 {
    transform: rotateX(-90deg) translate3d(0, 0, 100px);
}
.homeCubeSkillsFace5 {
    transform: rotateY(-90deg) translate3d(0, 0, 100px);
}
.homeCubeSkillsFace6 {
    transform: rotateY(90deg) translate3d(0, 0, 100px);
}
.cubeShadow{
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
    position: relative;
    top: -100px;
}
.homeSkillsBox{
    background-color: hsl(250,100%,75%);
    padding: 0.5vmax 1vmax;
    position: absolute;
    display: flex;
    right: 50px;
    flex-direction: column;
    transform: translateY(50px);
    animation-duration: 2s;
    animation-timing-function: infinite;
    
}
.homeSkillsBox > svg{
    font-size: 4vmax;
    color: rgb(255,255,255);
    transition: all 0.5s;
    margin: 8px;
    animation: homeSkillsBoxAnimationOn 2s infinite;
}
.homeSkillsBox > svg:hover{
    transform: scale(1.5);
}
.homeSkillsBox > svg:nth-child(1) {
    animation-delay: 0s;
}

.homeSkillsBox > svg:nth-child(2) {
    animation-delay: 0.2s;
}

.homeSkillsBox > svg:nth-child(3) {
    animation-delay: 0.4s;
}
.homeSkillsBox > svg:nth-child(4) {
    animation-delay: 0.6s;
}

.homeSkillsBox > svg:nth-child(5) {
    animation-delay: 0.8s;
}

.homeSkillsBox > svg:nth-child(6) {
    animation-delay: 1s;
}
.homeSkillsBox > svg:nth-child(7) {
    animation-delay: 1.2s;
}

.homeSkillsBox > svg:nth-child(8) {
    animation-delay: 1.4s;
}

.filler{
    background-color: white;
    padding-top: 4vmax;
    transform: translateY(-100px);
    border-radius: 100px 100px 100px 100px;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.haha{
    text-align: center;
  color: white;
  background-color: hsl(250, 100%, 75%);
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2vmax 4vmax;
  display: flex;
  border-radius: 100px;
  left: 50%;
  transform: translate(-50%, -100vh);
  animation: projectHeading 1s ease-in-out forwards;
  text-decoration: none;
  font-size: 20px;
}

.downloadResumeButton {
  background-color: #007bff; /* Button color */
  color: white;              /* Text color */
  border: none; 
  padding: 10px 20px;        /* Padding around the text */
  font-size: 32px;           /* Font size */

  cursor: pointer;           /* Pointer cursor on hover */
  text-decoration: none;     /* Remove underline */
  display: inline-block; 
  position: absolute;
  right: 50px;
  bottom: 50px; 
  position: fixed;  
  z-index: 1000;/* Inline block display */
  border-radius: 200px;             /* Remove border */
}

.downloadResumeButton:hover{
  background-color: #0056b3; /* Darker color on hover */
}

@keyframes cubeRotation{
    to{
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}
@keyframes cubeShadow{
    to{
        transform: scale(1.2) translateY(-10px);
    }
}
@keyframes writerAnimation{
    to{
        left: 10vw;
    }
}
@keyframes homeSkillsBoxAnimationOn{
    0%{
        scale: 1;
        color: white;
    }50%{
        scale: 1.2;
        color: hsl(219,48%,8%);
    }100%{
        scale: 1;
    }
}
@keyframes homeSkillsBoxAnimationOff{
    from{
        right: 40px;
    }to{
        right: -300px;
    }
}
@media screen and (max-width: 600px) {
    .homeCubeSkills {
        margin-top: 12vmax;
    }
    .homeSkills > h3{
        margin-bottom: 150px;
    }
    .cubeShadow{
        top: -150px;
    }
    .homeSkillsBox{
        flex-direction: row;
        transform: translate(55px,350px);
    }
    .downloadResumeButton{
        right: 30px;
        font-size: 28px;
    }
}

